version: '3.8'

services:
  db:
    image: postgres:16
    container_name: portal_db
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin123.
      - POSTGRES_DB=portalvj_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./sql/schemas/:/docker-entrypoint-initdb.d/

volumes:
  postgres_data: